.feedBox_container {
  display: inline-flex;
  padding: 14px 0px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 14px;
}

.feedBox_profileBar {
  display: flex;
  width: 100%;
  padding: 0px 18px;
  align-items: center;
  gap: 10px;
}

.feedBox_profile_image {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--grey-200);
}

.feedBox_userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -4px;
  flex: 1 0 0;
}

.feedBox_username {
  color: var(--grey-800);
}

.feedBox_date {
  color: var(--grey-400);
}

.feedBox_video {
  position: relative;
  display: block;
  width: 100%;
  /* padding-top: 56.25%; */
  min-height: 211px;
  background-color: var(--grey-300);
}

.feedBox_product_dropbox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0 18px;
}
.feedBox_product_info {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 0.4rem;
}

.feedBox_product_info_description {
  color: var(--grey-500);
}

.feedBox_product_info_count {
  color: var(--primary-red);
}

.feedBox_product_dropbox_wrapper {
  display: flex;
  width: 100%;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 0.8rem;
  border: 1px solid var(--grey-100);
  background: var(--primary-white);
}

.feedBox_product_dropbox_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.brand {
  color: var(--grey-500);
}
.productName {
  color: var(--grey-800);
}
